<div class="social-icons">
  <div class="social-icons-right">
    {% if site.github_username %}
      <a class="fa-brands fa-github" href="https://github.com/{{ site.github_username }}"></a>
    {% endif %}
    {% if site.bitbucket_username %}
      <a class="fa-brands fa-bitbucket" href="https://bitbucket.org/{{ site.bitbucket_username }}"></a>
    {% endif %}
    {% if site.stackoverflow_id %}
      <a class="fa-brands fa-stack-overflow" href="https://stackoverflow.com/users/{{ site.stackoverflow_id }}"></a>
    {% endif %}
    {% if site.twitter_username %}
      <a class="fa-brands fa-x-twitter" href="https://twitter.com/{{ site.twitter_username }}"></a>
    {% endif %}
    {% if site.skype_username %}
      <a class="fa-brands fa-skype" href="skype:{{ site.skype_username }}?userinfo"></a>
    {% endif %}
    {% if site.steam_nickname %}
      <a class="fa-brands fa-steam" href="http://steamcommunity.com/id/{{ site.steam_nickname }}"></a>
    {% endif %}
    {% if site.linkedin_username %}
      <a class="fa-brands fa-linkedin" href="https://www.linkedin.com/in/{{ site.linkedin_username }}"></a>
    {% endif %}
    {% if site.angellist_username %}
      <a class="fa-brands fa-angellist" href="https://angel.co/{{ site.angellist_username }}"></a>
    {% endif %}
    {% if site.medium_id %}
      <a class="fa-brands fa-medium" href="https://medium.com/@{{ site.medium_id }}"></a>
    {% endif %}
    {% if site.goodread_id %}
      <a class="fa-brands fa-goodreads" href="https://www.goodreads.com/{{ site.goodread_id }}"></a>
    {% endif %}
    {% if site.flickr_id %}
      <a class="fa-brands fa-flickr" href="https://www.flickr.com/people/{{ site.flickr_id }}"></a>
    {% endif %}
    {% if site.telegram_username %}
      <a class="fa-brands fa-telegram" href="https://t.me/{{ site.telegram_username }}"></a>
    {% endif %}
    {% if site.vk_id %}
      <a class="fa-brands fa-vk" href="https://vk.com/{{ site.vk_id }}"></a>
    {% endif %}
  </div>
  <div class="right">
    {% if site.bitcoin_url %}
      <a class="fa-brands fa-bitcoin" href="{{ site.bitcoin_url }}"></a>
    {% endif %}
    {% if site.paypal_url %}
      <a class="fa-brands fa-paypal" href="{{ site.paypal_url }}"></a>
    {% endif %}
    {% if site.flattr_button %}
      {{ site.flattr_button }}
    {% endif %}
  </div>
</div>
<div class="clearfix"></div>
